<div class="row">
  <div class="small-12 column">
    <% note = Note.find(params[:id]) %>
    <% if canUse("NotesController","update") %>
      <%= render partial: "notes/note_form", locals: {person: Person.find(params[:person_id]), note: note, buttonText: "Updaten"} %>
    <% else %>
      <div> Du darfst nicht updaten</div>
    <% end %>
  </div>
</div>
