<div class="small-12 column blBox">
  <div class="row">
    <div class="small-4 column" style="font-weight:bold;">
      <%= entry.name %>
    </div>
    <div class="small-8 column">
      <%= entry.jahr %>
      <%= entry.semester %>
    </div>
  </div>
</div>
