<div class="row">
  <label><%= fa_icon "search"%>Suche</label>
  <input type="text" id="searchInput", placeholder="Man Menges"/>
</div>
<div class="row">
  <div class="small-6 column">
    <button class="expanded button" id="vetBut">Veteranen</button>
  </div>
  <div class="small-6 column">
    <button class="expanded button" id="blackBut">Blacklist</button>
  </div>
</div>
