<div id="shirtChart2"></div>
<script>
Highcharts.chart('shirtChart2', {
    chart: {
        type: 'area'
    },
    title: {
        text: 'Shirt-Verbrauch nach Fest und Typ'
    },
    xAxis: {
        categories: [
          <% @parties.each do |p| %>
            '<%= p.name %>',
          <% end %>
        ],
        tickmarkPlacement: 'on',
        title: {
            enabled: false
        }
    },
    yAxis: {
        title: {
            text: 'Stückzahl'
        }
    },
    tooltip: {
        split: true,
        valueSuffix: ' Stück'
    },
    plotOptions: {
        area: {
            stacking: 'normal',
            lineColor: '#666666',
            lineWidth: 1,
            marker: {
                lineWidth: 1,
                lineColor: '#666666'
            }
        }
    },
    series: [
      <% ['Unisex','Male fit','Girly fit'].each do |t| %>
        {
          name: '<%= t %>',
          data: [
            <% @parties.each do |p| %>
              <%= @hpp[p.id].select{ |h| h.typ==t }.length %>,
            <% end %>
          ]
        },
      <% end %>
    ]
});
</script>
