<div class="row">
  <div class="small-12 medium-9 medium-offset-1 column">
    <div class="row">
          
      <% if canUse("StatisticsController","shirts") %>      
        <%= link_to statistics_shirts_path do %>
          <div class="small-4 column linkEntry">
            <%= image_tag "shirt_icon" %>
            <p>
              Shirts
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
    
  
  </div>
  <div class="show-for-medium medium-2 column">
    &nbsp;
  </div>
</div>
