<div class="row">
  <div class="small-12 medium-8 medium-offset-2 end column">
    <div style="color:red;font-size:2em;font-weight:bold;text-align:center">
      Na, na, na, da darfst du aber nicht hin!<br>
      <!--<%= params[:con] %>, <%= params[:met] %>-->
    </div>
    <%= image_tag "bgirl.jpg" %>
  </div>
</div>
