<div class="row">
  <div class="small-6 small-offset-3 column">
    <h2>Willkommen <%= http_remote_user %></h2>
    Hier ein paar nützliche Daten zum aktuellen Fest
    <table>
      <tr>
        <td>unbesetzte Schichten</td>
        <td>i</td>
      </tr>
    </table>
  </div>
</div>


