<div class="row">
  <div class="small-12 column">
    <%= form_for section do |f| %>
      <%= f.text_area :text, :size => "30x30" %> 
      <%= f.submit "Update", :class => "expanded button"%>
    <% end %>
  </div>
</div>
