<div class="row">
  <div class="small-12 column">
    <%= form_tag shifts_insert_path do |f| %>
      <%= select_tag :person_id, options_from_collection_for_select(Person.joins(:status).select("people.*, statuses.value as stat").where("statuses.value != -1").order("vname ASC"), :id, :name) %>
      <%= hidden_field_tag :id, shift.id %>
      <%= submit_tag "Eintragen", :class => "expanded button" %>
    <% end %>
  </div>
</div>
