<div class="row">
  <div class="small-12 medium-1 column">
    <%= render "util_bar" %>
  </div>
  
  <div class="small-12 medium-11 column">
    <%= render partial: "index_bug", collection: @bugs, as: :bug %>
  </div>
</div>


