// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_settings";

.indexPersonName {
  font-weight:bold;
  font-size:1.1em;
  border:2px solid $primary-color;
  color:black;//$primary-color;
  margin:5px;
}

.commentBarTop {
  text-align:center;
  color:white;
  background-color:$primary-color;
  font-weight:bold;
  font-size:1.3em;
  border-bottom:2px white solid;
}

.persoData .card-divider{
  font-weight:bold;
  font-size:1.3em;
}

.commentKnobs .column{
  background-color:$primary-color;
}

.commentKnobs .button {
  margin-bottom:0;
}

//NOTES
.noteShowBox {
  border:1px solid $secondary-color;
}

.noteShowBox button{
  color: $primary-color;
}

.noteShowBox .headi {
  background-color:$secondary-color;
  color:white;
}

//NOTES END

#medals .column {
  text-align:center;
}

#curParty .headi {
  text-align:center;
  font-size:1.2em;
  font-weight:bold;
  
  background: $primary-color; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(80deg, $primary-color, #eeeeee, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(80deg, $primary-color, #eeeeee, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(80deg, $primary-color, #eeeeee, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(80deg, $primary-color, #eeeeee, white); /* Standard syntax */
}

//BLS
.blBox {
  border-left:2px solid $primary-color;
  border-bottom:2px solid $primary-color;
  margin:5px 0px;
  padding:4px;
  position:relative;
  text-align:center;
}

.blBox .boxActions {
  position:absolute;
  right:0;
  top:0;
}

.blBox .boxActions .button{
  padding:5px;
}
