// Place all the styles related to the sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_settings";

.sectionData .card-divider {
  font-weight:bold;
  font-size:1.3em;
}

.leaderData .head {
  font-weight:bold;
  font-size:1.3em;
  text-align:center;
  border-bottom:3px solid $primary-color;
}

.leaderBox {
  border-left:2px solid $primary-color;
  border-bottom:2px solid $primary-color;
  margin:5px 0px;
  padding:4px;
  position:relative;
}

.leaderBox .boxActions {
  position:absolute;
  right:0;
  top:0;
}

.leaderBox .boxActions .button{
  padding:5px;
}
