// Place all the styles related to the sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_settings";

.sectionData .card-divider {
  font-weight:bold;
  font-size:1.3em;
}

.leaderData .head {
  font-weight:bold;
  font-size:1.3em;
  text-align:center;
  border-bottom:3px solid $primary-color;
}

.leaderBox {
  border-left:2px solid $primary-color;
  border-bottom:2px solid $primary-color;
  margin:5px 0px;
  padding:4px;
  position:relative;
}

.leaderBox .boxActions {
  position:absolute;
  right:0;
  top:0;
}

.leaderBox .boxActions .button{
  padding:5px;
}

.shiftHead {
  text-align:center;
  font-size:1.3em;
  font-weight:bold;
  border-bottom:2px solid $primary-color;
  margin-bottom:10px;
}

.shiftEntry {
  margin:3px 5px;
  border-left:2px solid $primary-color;
  border-bottom:2px solid $primary-color;
}

.shiftEntry .timeSpan {
  font-weight:bold;
  background-color:#bbbbbb;
  padding-bottom:10px;
}

.shiftEntry .personBox {
  font-weight:bold;
}

.shiftButtons button {
  color:$primary-color;
}

.chooseSecHead {
  background-color:$primary-color;
  color:white;
  text-align:center;
  font-size:1.3em;
  font-weight:bold;
}

.chooseShiftBlock {
  border-left:2px solid $primary-color;
  border-bottom:2px solid $primary-color;
  margin:5px;
  font-weight:bold;
}

.shiftCounter {
  text-align:center;
  font-size:5em;
  font-weight:bold;
}
