<div class="row" style="border:1px black solid">
  <div class="small-12 medium-6 column">
    Diese Mail wird an alle Helfer der Aktuellen Party geschickt. Falls das deinen Wünschen entspricht, viel Spaß!<br>
    <span style="color:red">Es gibt keinen weiteren Dialog. Das Knopf drücken sendet direkt!</span>
  </div>
  <div class="small-12 medium-6 column">
    <%= link_to "Senden", send_all_path, :class => "expanded button", :method => :post %>
  </div>
</div>
