<div class="row" style="border:1px black solid">
  <div class="small-12 medium-6 column">
    Noch nicht da
    <span style="color:red">Es gibt keinen weiteren Dialog. Das Knopf drücken sendet direkt!</span>
  </div>
  <div class="small-12 medium-6 column">
  
  </div>
</div>
