<div class="row">
  <div class="small-12 medium-2 column">
    <%= render "util_bar" %>
  </div>
  <div class="small-12 medium-10 column">
    <div class="row">  
      <% @mails.each do |m| %>
        <%= link_to m do %>
          <div class="small-1 column">
            <%= fa_icon "envelope 3x" %>
          </div>
          <div class="small-11 column">
              <%= m.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
