<div class="row">
  <div class="small-12 medium-10 medium-offset-2 column">
    <div class="row">  
      <% if canUse("EmailsController","reminder") %>      
        <%= link_to emails_reminder_path do %>
          <div class="small-12 column">
            <%= fa_icon "envelope 5x" %>
            <p>
              Reminder Mail
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
