<div class="row">
  <div class="small-12 medium-2 column">
    <%= link_to "zurück", emails_path %>
  </div>
  <div class="small-12 medium-10 column">
    <h2><%= @mail.name %></h2>
    <table>
      <tr>
        <td>Betreff</td>
        <td><%= @mail.subject %></td>
      </tr>
      <tr>
        <td>Inhalt</td>
        <td><%= @mail.content %></td>
      </tr>
    </table>
  </div>
</div>
